What is your favorite food?

<form method = 'post' action = '/food'>
	<input type = 'text' name = 'food'>
	<input type = 'hidden' name = 'user_name' value = <%=name%>>
	<input type = 'hidden' name = 'age' value = <%=age%>>
	<input type = 'hidden' name = 'hair_color' value = <%=hair_color%>>
	<input type = 'hidden' name = 'eye_color' value = <%=eye_color%>>
	<input type = 'submit'
</form>