Hello! Please select a math function and input two numbers (between 1 and 10,000) to pass through it.

<form method = 'post' action = '/home'>
	<input type = 'radio' name = 'math' value = 'add'>Add</label>
	<input type = 'radio' name = 'math' value = 'subtract'>Subtract</label>
	<input type = 'radio' name = 'math' value = 'multiply'>Multiply</label>
	<input type = 'radio' name = 'math' value = 'divide'>Divide</label>
	<input type = 'number' min = '1' max = '10000' name = 'num1'>
	<input type = 'number' min = '1' max = '10000' name = 'num2'>
	<input type = 'submit'>
</form>
